body  {
  margin: 0;
  background-color: #000000;
}

body * {
  box-sizing: border-box;
}

header {
  padding: 0;
}

#date {
  float: left;
  color: white;
  font-size: 25px;
  margin-top: 10px;
  margin-left: 10px;
}

.dashboard-container {
  display: none;
}

.banner-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 300px;
  display: none;
}

fieldset {
  border: none;
  margin-left: auto;
  margin-right: auto;
}

.signup-form label {
  display: block;
  padding-bottom: 10px;
  padding-top: 15px;
  font-size: 20px;
  text-align: left;
}

form.signup-form {
  width: 100%;
  text-align: center;
  padding: 20px 40px 20px 40px;
  background-color: #000000;

}

h3 {
  text-align: center;
  font-size: 40px;
  margin-top: 10px; 
  margin-bottom: 10px;
  color: #fff;
}

.email, .password {
  font-size: 15px;
  padding: 15px;
  width: 320px;
  border: 2px #fff;
}


section {
  padding-top: 20px;
}

button {
  width: 320px;
  height: 48px;
  padding: 15px;
  border: 2px;
  cursor: pointer;
  background-color: #ebebfa;
  color: #000000;
  font-size: 20px;
  margin-top: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button:hover {
  background-color: #9999e6;
}

.instructions {
  color: black;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-top: 0;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: #fff;
    display: none;
    overflow: hidden;
}

.weekOf {
    padding: 10px 25px;
    background:#ebebfa;
    text-align: center;
    font-size: 20px;
}

/* Month list */
.weekOf ul {
    margin: 0;
    padding: 0;
}

.weekOf ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.plus {
  float: right;
  font-size: 40px;
  position: relative;
  bottom: 20px;
}

a {
  text-decoration: none;
}


